@model IEnumerable<ChannelEngineLibrary.Model.ProductDto>
@{
    ViewBag.Title = "Products";

}
<br />

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }
        else
        {
            <thead>
                <tr class="danger">
                    <th data-defaultsign="AZ">Product No</th>
                    <th data-defaultsign="AZ">Name</th>
                    <th data-defaultsign="AZ">Gtin</th>
                    <th data-defaultsign="Az">Total Quantity</th>
                    <th data-defaultsign="Az">Stock</th>
                </tr>
            </thead>

            foreach (var item in Model)
            {
                <tr>
                    <td>@item.MerchantProductNo</td>
                    <td>@item.Name</td>
                    <td>@item.Gtin</td>
                    <td>@item.TotalQuantity</td>
                    <td>@item.Stock</td>
                </tr>

            }
        }
    </table>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Update Product Stock Count</th>
            </tr>
            <tr>
                <td>Product No: </td>
                <td>
                    @Html.TextBox("productNo")
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
            <tr>
                @Html.Raw(TempData["msg"])
            </tr>
        </table>
    }
</div>  